{% extends "layout.html" %}
{% block body %}

<div class="row">

  <div class="span12 pagination-centered">
    <h1>
      <img src="{{ url_for('static', filename='img/spam.png')}}" class="img-rounded">
    </h1>
  </div>

  
  <div class="span12 pagination-centered">
    <br />
    <br />
    <br />
    <div class="lead">
    <p>Welcome to the <strong>warm spam</strong> project, part of the <a href="http://www.thedigitalsizzle.com/">Digital Sizzle 2012
      hackathon.</a></p>

    <p>This project has two parts. A website, that collects
    recordings of people reading spam messages, and a
    radio station, where those recordings are made into something
    beautiful by combining them with an algorithmic composition by the guys
    at <a href="http://reactifymusic.com">Reactify</a>

      <p>If you would like to participate, and have you're voice heard
      saying potentially naughty things in the Whitechapel Gallery on
      September 26th, you will need a phone ( we'll call you to record
      the spam message ) and a seperate screen from which to read the
      piece you're going to record.
      </p>
      <br />
      <p>If you're ready, <a href="http://google.com">lets get started!</a>
    </div>
  </div>
</div>






{% endblock %}
