html {
    background-color: rgb(241,241,241)
}

.justified {
    text-align: justify;
}

#welcome{
    position: absolute;
}

#record {
    position: absolute;
}

.phonebox {
    background-color: white;
}
