{% extends "layout.html" %}
{% block body %}
<div class="hero-unit">
  <h1>Welcome to spambot</h1>

  <p>In this project we're trying to take recordings of real people talking
  spam.</p>

  <p>To participate, please enter your phone number below and we'll call you back.</p>
  
  <form action="{{url_for('record')}}" method="POST">
    <input type="text" placeholder="+ [Country] [Area] [Number]" name="number" />
    <span class="help-block">Please include the international
      dialling code and your prefix. </span>
    <button type="submit" class="btn btn-primary btn-large">Call me back!</button>
  </form>
</div>

{% endblock %}
